In [1]:
import math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

Get the dataset as a `pandas` dataframe.

In [3]:
EnergySet = pd.read_csv("data/energydata_complete.csv")
df = pd.DataFrame(data=EnergySet)

In [4]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.530000,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.500000,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,17.000000,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,17.000000,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,17.000000,45.290000,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,17.000000,45.290000,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,16.890000,45.290000,5.983333,734.433333,91.166667,5.833333,40.000000,4.616667,8.827838,8.827838
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,16.963333,45.290000,6.000000,734.500000,91.000000,6.000000,40.000000,4.600000,34.351142,34.351142
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,16.890000,45.326667,6.000000,734.616667,90.500000,6.000000,40.000000,4.516667,19.205186,19.205186
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,16.890000,45.345000,6.000000,734.733333,90.000000,6.000000,40.000000,4.433333,38.492071,38.492071
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,16.890000,45.326667,6.000000,734.850000,89.500000,6.000000,40.000000,4.350000,24.884962,24.884962
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,16.890000,45.290000,6.000000,734.966667,89.000000,6.000000,40.000000,4.266667,35.880925,35.880925
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,16.890000,45.290000,6.000000,735.083333,88.500000,6.000000,40.000000,4.183333,49.595305,49.595305
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,16.890000,45.200000,6.000000,735.200000,88.000000,6.000000,40.000000,4.100000,19.001759,19.001759
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,16.890000,45.200000,6.000000,735.233333,87.833333,6.000000,40.000000,4.066667,38.872261,38.872261
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,16.890000,45.126667,6.000000,735.266667,87.666667,6.000000,40.000000,4.033333,46.735262,46.735262
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,16.890000,45.126667,6.000000,735.300000,87.500000,6.000000,40.000000,4.000000,10.607126,10.607126
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,16.890000,45.060000,6.000000,735.333333,87.333333,6.000000,40.000000,3.966667,32.583688,32.583688
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,16.890000,45.000000,6.000000,735.366667,87.166667,6.000000,40.000000,3.933333,6.277755,6.277755
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,16.890000,44.966667,6.000000,735.400000,87.000000,6.000000,40.000000,3.900000,13.361033,13.361033
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,16.890000,44.900000,5.933333,735.466667,87.166667,6.000000,40.000000,3.866667,19.305705,19.305705
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.866667,735.533333,87.333333,6.000000,40.000000,3.833333,0.669517,0.669517
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.800000,735.600000,87.500000,6.000000,40.000000,3.800000,19.119398,19.119398
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,16.890000,44.700000,5.733333,735.666667,87.666667,6.000000,40.000000,3.766667,43.484542,43.484542
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,16.890000,44.700000,5.666667,735.733333,87.833333,6.000000,40.000000,3.733333,17.017450,17.017450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,23.100000,46.500000,21.250000,756.050000,59.833333,1.166667,23.666667,13.100000,32.420348,32.420348
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,23.100000,46.500000,21.400000,756.000000,59.666667,1.333333,23.333333,13.200000,49.189027,49.189027
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,23.100000,46.522500,21.550000,755.950000,59.500000,1.500000,23.000000,13.300000,15.081162,15.081162
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,23.100000,46.530000,21.700000,755.900000,59.333333,1.666667,22.666667,13.400000,45.226866,45.226866
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,23.100000,46.530000,21.850000,755.850000,59.166667,1.833333,22.333333,13.500000,5.773431,5.773431
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,23.100000,46.530000,22.000000,755.800000,59.000000,2.000000,22.000000,13.600000,41.515044,41.515044
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,23.100000,46.530000,21.966667,755.800000,59.000000,2.000000,21.833333,13.550000,19.540642,19.540642
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,23.100000,46.590000,21.933333,755.800000,59.000000,2.000000,21.666667,13.500000,16.977597,16.977597
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,23.100000,46.626667,21.900000,755.800000,59.000000,2.000000,21.500000,13.450000,8.991420,8.991420
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,23.100000,46.700000,21.866667,755.800000,59.000000,2.000000,21.333333,13.400000,40.409885,40.409885
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,23.100000,46.590000,21.833333,755.800000,59.000000,2.000000,21.166667,13.350000,37.889086,37.889086
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,23.100000,46.590000,21.800000,755.800000,59.000000,2.000000,21.000000,13.300000,17.123315,17.123315
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,23.133333,46.590000,21.966667,755.750000,58.333333,2.000000,21.333333,13.283333,24.058432,24.058432
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,23.133333,46.590000,22.133333,755.700000,57.666667,2.000000,21.666667,13.266667,9.538671,9.538671
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,23.166667,46.590000,22.300000,755.650000,57.000000,2.000000,22.000000,13.250000,30.020685,30.020685
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,23.100000,46.590000,22.466667,755.600000,56.333333,2.000000,22.333333,13.233333,23.851737,23.851737
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,23.200000,46.590000,22.633333,755.550000,55.666667,2.000000,22.666667,13.216667,47.981309,47.981309
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,23.200000,46.590000,22.800000,755.500000,55.000000,2.000000,23.000000,13.200000,18.215602,18.215602
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,23.160000,46.590000,22.833333,755.450000,55.000000,2.166667,22.833333,13.233333,38.751594,38.751594
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,23.200000,46.621429,22.866667,755.400000,55.000000,2.333333,22.666667,13.266667,32.306224,32.306224
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,23.200000,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,23.200000,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,23.200000,46.718000,22.966667,755.250000,55.000000,2.833333,22.166667,13.366667,1.796395,1.796395
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,23.200000,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,23.200000,46.745000,22.866667,755.200000,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.790000,22.733333,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.790000,22.466667,755.200000,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.817500,22.333333,755.200000,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
df["RH_1"].describe()

count    19735.000000
mean        40.259739
std          3.979299
min         27.023333
25%         37.333333
50%         39.656667
75%         43.066667
max         63.360000
Name: RH_1, dtype: float64

In [6]:
# get the correlation matrix to see how well each input feature correlates to the output

correlation_matrix = df.corr()
correlation_matrix["Appliances"].sort_values(ascending=False)

Appliances     1.000000
lights         0.197278
T2             0.120073
T6             0.117638
T_out          0.099155
Windspeed      0.087122
RH_1           0.086031
T3             0.085060
T1             0.055447
T4             0.040281
T8             0.039572
RH_3           0.036292
T7             0.025801
T5             0.019760
RH_4           0.016965
Tdewpoint      0.015353
T9             0.010010
RH_5           0.006955
Visibility     0.000230
rv2           -0.011145
rv1           -0.011145
Press_mm_hg   -0.034885
RH_9          -0.051462
RH_7          -0.055642
RH_2          -0.060465
RH_6          -0.083178
RH_8          -0.094039
RH_out        -0.152282
Name: Appliances, dtype: float64

Remove columns (input cleaning)

In [7]:
# remove columns below a certain threshold

feature_correlation_threshold = 0.012

drop_list = []
for feature,correlation in correlation_matrix["Appliances"].iteritems():
    if abs(correlation) < feature_correlation_threshold:
        drop_list.append(feature)
        
drop_list

['RH_5', 'T9', 'Visibility', 'rv1', 'rv2']

In [8]:
df = df.drop(drop_list, axis=1)

In [36]:
from datetime import datetime

In [37]:
df.iloc[0][0]

'2016-01-11 17:00:00'

In [39]:
dt = datetime.strptime(df.iloc[0][0], "%Y-%m-%d %H:%M:%S")

In [40]:
dt

datetime.datetime(2016, 1, 11, 17, 0)

In [41]:
df.iloc[:, 0]

0        2016-01-11 17:00:00
1        2016-01-11 17:10:00
2        2016-01-11 17:20:00
3        2016-01-11 17:30:00
4        2016-01-11 17:40:00
5        2016-01-11 17:50:00
6        2016-01-11 18:00:00
7        2016-01-11 18:10:00
8        2016-01-11 18:20:00
9        2016-01-11 18:30:00
10       2016-01-11 18:40:00
11       2016-01-11 18:50:00
12       2016-01-11 19:00:00
13       2016-01-11 19:10:00
14       2016-01-11 19:20:00
15       2016-01-11 19:30:00
16       2016-01-11 19:40:00
17       2016-01-11 19:50:00
18       2016-01-11 20:00:00
19       2016-01-11 20:10:00
20       2016-01-11 20:20:00
21       2016-01-11 20:30:00
22       2016-01-11 20:40:00
23       2016-01-11 20:50:00
24       2016-01-11 21:00:00
25       2016-01-11 21:10:00
26       2016-01-11 21:20:00
27       2016-01-11 21:30:00
28       2016-01-11 21:40:00
29       2016-01-11 21:50:00
                ...
19705    2016-05-27 13:10:00
19706    2016-05-27 13:20:00
19707    2016-05-27 13:30:00
19708    2016-05-27 13:40:00
19709    2016-05-27 13:50:00
19710    2016-05-27 14:00:00
19711    2016-05-27 14:10:00
19712    2016-05-27 14:20:00
19713    2016-05-27 14:30:00
19714    2016-05-27 14:40:00
19715    2016-05-27 14:50:00
19716    2016-05-27 15:00:00
19717    2016-05-27 15:10:00
19718    2016-05-27 15:20:00
19719    2016-05-27 15:30:00
19720    2016-05-27 15:40:00
19721    2016-05-27 15:50:00
19722    2016-05-27 16:00:00
19723    2016-05-27 16:10:00
19724    2016-05-27 16:20:00
19725    2016-05-27 16:30:00
19726    2016-05-27 16:40:00
19727    2016-05-27 16:50:00
19728    2016-05-27 17:00:00
19729    2016-05-27 17:10:00
19730    2016-05-27 17:20:00
19731    2016-05-27 17:30:00
19732    2016-05-27 17:40:00
19733    2016-05-27 17:50:00
19734    2016-05-27 18:00:00
Name: date, Length: 19735, dtype: object

In [26]:
# split training and test data
def split_data(df):
    indices = np.random.permutation(len(df))
    test_size = int(len(df) * 0.15)
    test_index = indices[:test_size]
    train_index = indices[test_size:]
    return (df.iloc[train_index], df.iloc[test_index])

In [20]:
# simple linear and polynomial prediction models

def get_linreg(intercept, normalise):
    return LinearRegression(fit_intercept=intercept, normalize=normalise, n_jobs=-1)


def linreg_predict(X, y, test_input, intercept=False, normalise=True):
    print("Get linear regression prediction")

    linreg = get_linreg(intercept, normalise)
    linreg.fit(X, y)

    return linreg.predict(test_input)


def polyreg_predict(X, y, test_input, degrees, intercept=False, normalise=True):
    print("Get polynomial regression prediction")

    linreg = get_linreg(intercept, normalise)
    polyreg = PolynomialFeatures(degree=degrees)

    x_hat = polyreg.fit_transform(X)
    predict_hat = polyreg.fit_transform(test_input)

    linreg.fit(x_hat, y)

    return linreg.predict(predict_hat)

In [27]:
train_df, test_df = split_data(df)

In [29]:
train_df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T7,RH_7,T8,RH_8,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Tdewpoint
6871,2016-02-28 10:10:00,50,0,19.700000,35.723333,18.463333,35.126667,20.100000,35.560000,18.963333,...,19.390000,32.384286,20.600000,38.790000,36.566667,1.833333,757.050000,67.666667,7.333333,-3.583333
692,2016-01-16 12:20:00,80,0,22.100000,41.290000,21.566667,40.500000,21.100000,42.700000,20.463333,...,19.445000,43.400000,19.926667,51.096667,45.000000,5.100000,763.833333,80.000000,3.666667,1.800000
1986,2016-01-25 12:00:00,40,0,20.100000,44.000000,19.463333,43.290000,20.200000,44.200000,18.200000,...,16.775000,41.808333,18.116667,47.982222,48.500000,12.100000,763.300000,56.000000,4.000000,3.500000
15292,2016-04-26 21:40:00,70,0,22.000000,36.200000,19.790000,37.326667,22.000000,35.500000,20.200000,...,19.890000,28.730000,22.926667,37.963333,35.463333,1.433333,749.700000,91.666667,4.000000,0.233333
13900,2016-04-17 05:40:00,50,0,21.390000,39.400000,17.790000,44.700000,23.390000,38.000000,20.937143,...,20.830000,32.834000,22.790000,38.260000,45.290000,1.400000,752.000000,98.333333,1.000000,1.133333
2440,2016-01-28 15:40:00,20,0,19.500000,45.230000,18.700000,44.826667,19.790000,44.400000,18.260000,...,18.890556,39.787222,18.790000,45.777222,46.656667,7.066667,765.100000,69.333333,2.000000,1.733333
13439,2016-04-14 00:50:00,50,0,21.633333,41.860000,18.700000,45.790000,23.700000,39.433333,21.700000,...,20.890000,35.790000,23.000000,45.433333,45.966667,3.833333,753.600000,95.333333,0.166667,3.183333
14374,2016-04-20 12:40:00,50,0,21.963333,36.730000,23.700000,31.700000,22.100000,37.030000,22.790000,...,20.640000,28.890000,21.323333,36.526667,37.326667,11.766667,767.300000,56.000000,6.000000,3.266667
2336,2016-01-27 22:20:00,40,0,19.230000,46.826667,18.500000,46.790000,19.790000,45.290000,18.200000,...,17.600000,45.275000,17.616667,51.215000,49.000000,9.800000,755.300000,94.333333,7.666667,8.900000
19589,2016-05-26 17:50:00,250,0,24.390000,45.466667,24.870000,37.200000,27.566667,38.900000,24.600000,...,24.290000,37.997778,24.290000,45.530000,43.621429,21.033333,755.850000,45.833333,2.000000,8.866667
14969,2016-04-24 15:50:00,60,10,22.000000,36.260000,20.100000,37.500000,22.633333,34.230000,21.700000,...,22.000000,30.290000,23.700000,36.000000,37.090000,6.683333,757.300000,66.833333,6.666667,0.850000
6794,2016-02-27 21:20:00,100,0,21.700000,35.000000,20.390000,35.400000,21.100000,35.090000,19.566667,...,19.700000,26.725714,22.230000,35.933333,36.156667,2.200000,753.166667,66.666667,5.000000,-3.433333
18885,2016-05-21 20:30:00,100,0,24.803636,47.728273,24.757658,44.533634,26.581727,42.453636,24.109910,...,24.032883,42.733266,24.236455,49.788182,47.263636,19.750000,752.950000,69.500000,3.000000,13.900000
1383,2016-01-21 07:30:00,40,10,18.200000,39.590000,17.200000,38.930000,18.500000,39.900000,17.100000,...,16.000000,33.057222,18.765000,45.406667,42.923333,-2.300000,763.000000,90.500000,1.500000,-3.650000
3412,2016-02-04 09:40:00,140,0,20.790000,45.763333,19.890000,42.333333,21.432778,42.461111,20.760000,...,18.290000,37.525000,20.856667,45.612778,46.566667,4.333333,762.000000,95.666667,7.333333,3.700000
14475,2016-04-21 05:30:00,60,20,21.600000,36.460000,18.700000,39.300000,22.790000,36.566667,21.934000,...,21.390000,33.900000,22.000000,41.126667,39.400000,4.800000,763.350000,79.000000,2.500000,1.350000
8741,2016-03-12 09:50:00,60,0,19.856667,37.290000,18.395000,38.722500,19.945000,36.745000,20.230000,...,19.100000,30.290000,21.100000,43.260000,39.060000,3.033333,767.466667,94.833333,1.000000,2.266667
1087,2016-01-19 06:10:00,70,10,19.000000,39.200000,17.600000,39.590000,19.600000,40.560000,18.390000,...,17.516667,33.900000,19.390000,44.814444,41.590000,-4.466667,756.416667,90.833333,1.000000,-5.783333
14215,2016-04-19 10:10:00,50,0,21.200000,39.590000,21.066667,39.530000,22.000000,37.000000,21.620000,...,20.290000,32.868571,21.500000,40.790000,39.000000,9.216667,765.233333,83.833333,1.833333,6.600000
11225,2016-03-29 15:50:00,100,10,22.390000,39.000000,21.290000,39.060000,22.890000,37.900000,21.290000,...,21.700000,32.522500,24.700000,41.735000,41.450000,10.883333,751.550000,70.000000,4.333333,5.550000
11708,2016-04-02 00:20:00,20,0,21.500000,38.700000,19.200000,41.663333,22.200000,37.290000,20.290000,...,20.290000,33.500000,21.856667,39.500000,37.730000,8.333333,759.533333,78.000000,2.333333,4.633333
1171,2016-01-19 20:10:00,460,10,19.323333,40.800000,18.100000,40.163333,20.066667,43.030000,17.500000,...,18.000000,30.356667,20.323333,41.060000,36.326667,-3.250000,758.200000,89.833333,0.333333,-4.733333
18642,2016-05-20 04:00:00,50,0,22.890000,41.400000,20.890000,43.152857,24.700000,40.000000,22.790000,...,22.815000,36.722500,23.540000,43.876000,44.400000,10.000000,757.700000,95.000000,5.000000,9.200000
5305,2016-02-17 13:10:00,50,0,20.290000,35.596667,19.200000,34.933333,20.000000,37.942857,19.600000,...,19.166667,26.700000,20.533333,33.663333,38.100000,2.733333,759.333333,69.500000,1.833333,-2.366667
16525,2016-05-05 11:10:00,90,0,22.633333,29.466667,26.445000,21.040000,23.290000,32.863333,22.790000,...,21.790000,27.051429,23.412000,35.790000,36.663333,15.216667,762.216667,38.500000,4.666667,1.166667
731,2016-01-16 18:50:00,1080,30,21.930000,42.766667,21.040000,38.080000,20.700000,40.633333,20.890000,...,19.790000,37.184286,20.926667,42.663333,40.672500,2.083333,765.033333,85.500000,3.666667,-0.083333
9852,2016-03-20 03:00:00,30,0,21.426667,36.126667,18.700000,38.966667,22.100000,36.260000,20.390000,...,19.260000,30.666667,22.200000,41.863333,39.400000,5.100000,762.100000,76.000000,3.000000,1.100000
16745,2016-05-06 23:50:00,60,0,24.230000,38.030000,22.730000,38.260000,24.700000,37.863333,23.790000,...,23.100000,34.590000,24.323333,43.500000,41.590000,12.733333,752.500000,76.666667,2.666667,8.750000
15543,2016-04-28 15:30:00,50,0,20.890000,35.560000,20.260000,33.760000,21.500000,34.900000,20.700000,...,19.600000,29.163333,20.633333,36.730000,33.060000,8.100000,756.300000,71.000000,4.500000,3.050000
13145,2016-04-11 23:50:00,50,0,22.390000,43.700000,20.500000,44.326667,23.290000,40.700000,22.600000,...,21.790000,36.663333,23.290000,43.000000,42.626667,11.166667,751.383333,77.833333,5.666667,7.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3706,2016-02-06 10:40:00,60,10,21.000000,45.230000,20.390000,43.760000,21.890000,44.400000,19.390000,...,18.500000,41.530000,20.500000,52.181667,48.826667,8.700000,753.066667,83.333333,6.333333,5.966667
12967,2016-04-10 18:10:00,120,0,23.200000,38.466667,22.426667,37.163333,22.890000,38.090000,22.200000,...,23.267500,31.572500,23.890000,37.725714,39.326667,14.716667,750.950000,59.666667,5.166667,6.783333
19685,2016-05-27 09:50:00,660,0,23.760000,47.693333,25.497143,42.595714,26.033333,40.693333,24.500000,...,23.790000,42.551429,23.823333,47.933333,46.290000,16.100000,756.183333,78.666667,1.333333,12.333333
19345,2016-05-25 01:10:00,50,0,24.100000,40.400000,21.700000,42.290000,25.390000,39.700000,24.000000,...,23.100000,35.090000,24.571429,46.168571,41.966667,8.650000,758.050000,87.000000,1.000000,6.516667
12851,2016-04-09 22:50:00,40,0,22.463333,41.326667,20.100000,43.790000,22.856667,39.663333,20.600000,...,21.760000,35.790000,23.200000,39.736000,38.963333,8.183333,750.166667,92.000000,3.000000,6.900000
18542,2016-05-19 11:20:00,50,0,23.200000,41.700000,25.200000,36.060000,24.290000,38.790000,23.390000,...,23.100000,37.290000,22.790000,39.656000,42.554000,12.133333,753.600000,72.333333,2.000000,7.200000
10181,2016-03-22 09:50:00,40,0,21.200000,38.200000,21.030000,39.030000,21.790000,36.500000,21.392500,...,19.600000,34.790000,21.390000,40.230000,38.230000,7.483333,758.100000,72.833333,1.833333,2.900000
5013,2016-02-15 12:30:00,50,20,20.100000,39.430000,19.180000,37.983333,20.890000,37.900000,19.200000,...,19.790000,30.500000,21.100000,36.700000,39.000000,5.000000,759.500000,62.500000,6.500000,-1.600000
7646,2016-03-04 19:20:00,90,10,21.171429,39.742857,19.290000,38.427143,21.890000,36.605714,19.000000,...,19.000000,31.000000,21.290000,38.708333,37.900000,3.300000,739.766667,88.666667,1.000000,1.566667
18128,2016-05-16 14:20:00,80,0,23.500000,39.863333,22.890000,36.152000,24.456000,37.254000,23.600000,...,23.560000,29.812000,25.157143,36.952857,39.794000,12.800000,761.033333,55.666667,1.000000,4.100000
5799,2016-02-20 23:30:00,30,20,22.000000,43.000000,20.700000,43.400000,21.890000,42.000000,23.096667,...,18.100000,42.530000,21.600000,51.760000,44.700000,11.000000,754.650000,90.000000,10.000000,9.400000
15806,2016-04-30 11:20:00,160,0,21.390000,37.626667,20.290000,37.790000,24.566667,40.693333,20.100000,...,19.200000,33.500000,21.500000,39.966667,40.590000,8.233333,759.133333,76.666667,1.000000,4.366667
2600,2016-01-29 18:20:00,110,10,19.066667,45.730000,18.760000,44.730000,19.166667,43.760000,16.700000,...,16.790000,41.590000,17.527778,50.363333,45.290000,8.866667,762.233333,83.333333,9.333333,6.166667
17205,2016-05-10 04:30:00,50,0,25.000000,44.200000,23.290000,45.560000,26.500000,40.400000,25.390000,...,24.200000,41.538571,25.390000,50.656000,49.460000,14.700000,751.850000,97.000000,1.000000,14.250000
13423,2016-04-13 22:10:00,40,0,22.000000,43.060000,19.566667,45.500000,23.633333,39.126667,22.000000,...,21.000000,36.290000,23.332857,44.067143,43.790000,6.666667,753.133333,95.166667,1.000000,5.900000
2907,2016-01-31 21:30:00,90,10,23.000000,46.200000,22.000000,44.933333,21.890000,46.590000,19.760000,...,19.275000,50.193889,21.812222,53.114444,50.933333,11.600000,754.100000,94.000000,8.000000,10.650000
8783,2016-03-12 16:50:00,70,10,20.600000,33.163333,19.200000,33.226667,19.790000,33.260000,20.500000,...,22.500000,26.365000,25.100000,33.363333,39.200000,9.800000,766.700000,50.500000,3.833333,-0.066667
16993,2016-05-08 17:10:00,50,0,25.200000,36.230000,26.100000,31.390000,26.200000,37.500000,25.000000,...,24.100000,31.560000,24.790000,34.460000,38.066667,26.033333,750.850000,29.833333,4.500000,6.850000
19637,2016-05-27 01:50:00,60,0,24.200000,44.700000,22.700000,44.751429,26.790000,39.900000,24.700000,...,24.200000,44.900000,24.390000,50.590000,45.200000,14.166667,755.733333,80.833333,2.000000,10.916667
8441,2016-03-10 07:50:00,50,0,19.463333,36.966667,16.290000,41.663333,20.100000,37.200000,19.500000,...,18.290000,35.723333,19.790000,42.656667,40.030000,-0.266667,756.283333,91.833333,1.000000,-1.483333
3555,2016-02-05 09:30:00,40,0,21.200000,46.230000,20.390000,45.400000,21.790000,44.280000,19.790000,...,18.390000,43.808333,20.500000,51.780000,49.590000,8.900000,763.700000,98.000000,4.500000,8.600000
13557,2016-04-14 20:30:00,80,0,22.890000,41.590000,21.533333,41.526667,23.500000,39.400000,22.790000,...,21.290000,36.090000,24.100000,44.554000,41.826667,13.550000,751.800000,68.000000,2.000000,7.750000
1647,2016-01-23 03:30:00,40,0,17.390000,42.400000,16.463333,42.663333,17.700000,40.700000,15.390000,...,15.800000,37.290000,16.790000,45.090000,41.626667,5.050000,765.500000,99.500000,3.000000,5.000000
15222,2016-04-26 10:00:00,50,0,20.790000,36.966667,21.260000,35.663333,21.856667,35.090000,20.890000,...,20.260000,30.356667,21.823333,38.590000,35.590000,5.500000,748.000000,75.000000,7.000000,1.400000
10291,2016-03-23 04:10:00,50,0,21.890000,38.700000,19.033333,42.500000,22.390000,38.090000,20.700000,...,20.000000,37.790000,22.600000,44.290000,41.500000,5.033333,755.800000,95.000000,2.000000,4.333333
2197,2016-01-26 23:10:00,380,50,21.066667,46.730000,20.666667,45.360000,20.600000,45.530000,19.200000,...,18.725000,45.591111,17.890000,49.320556,47.663333,9.733333,759.416667,82.500000,9.166667,6.833333
13349,2016-04-13 09:50:00,60,0,22.100000,41.226667,19.823333,44.526667,23.290000,38.230000,22.200000,...,21.100000,35.290000,22.040000,39.356000,40.200000,8.133333,750.683333,87.166667,1.000000,6.050000
4313,2016-02-10 15:50:00,110,0,20.600000,42.530000,20.000000,40.500000,21.000000,41.090000,19.200000,...,19.878889,38.500000,22.328889,47.461111,43.400000,6.233333,743.150000,83.833333,4.166667,3.666667
16464,2016-05-05 01:00:00,50,0,23.000000,34.590000,20.600000,35.900000,23.390000,36.700000,22.760000,...,22.290000,34.790000,24.290000,40.997143,38.090000,8.000000,764.000000,65.000000,2.000000,1.700000
18887,2016-05-21 20:50:00,90,10,24.794545,47.868091,24.723423,44.743664,26.601909,42.564545,24.100901,...,24.021171,42.824842,24.250818,49.902727,47.354545,19.116667,753.050000,73.833333,2.333333,14.233333

In [30]:
test_df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T7,RH_7,T8,RH_8,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Tdewpoint
13425,2016-04-13 22:30:00,50,0,21.963333,42.863333,19.463333,45.500000,23.500000,39.200000,21.890000,...,21.000000,36.222500,23.290000,44.642857,44.000000,6.000000,753.200000,95.500000,1.000000,5.300000
13556,2016-04-14 20:20:00,70,0,22.823333,41.530000,21.600000,41.266667,23.500000,39.433333,22.890000,...,21.290000,35.971429,24.171429,44.457143,41.826667,13.566667,751.866667,68.000000,2.000000,7.766667
12977,2016-04-10 19:50:00,130,0,23.100000,39.975000,21.823333,39.760000,22.926667,38.863333,22.100000,...,22.890000,34.826667,24.238571,39.577143,39.590000,14.300000,750.700000,64.666667,4.333333,7.700000
293,2016-01-13 17:50:00,100,0,19.290000,40.730000,18.700000,39.760000,19.290000,42.030000,18.890000,...,18.426667,35.826667,19.426667,44.730000,40.090000,3.916667,757.300000,76.000000,3.000000,0.016667
7988,2016-03-07 04:20:00,50,0,19.390000,37.030000,17.100000,39.700000,19.790000,39.060000,18.890000,...,17.700000,31.890000,20.790000,44.290000,40.230000,0.066667,747.233333,99.333333,1.666667,0.000000
4245,2016-02-10 04:30:00,70,0,21.390000,41.560000,20.760000,39.966667,22.500000,43.090000,18.790000,...,19.878889,41.080000,22.290000,48.602222,46.200000,2.550000,739.100000,92.500000,9.000000,1.450000
999,2016-01-18 15:30:00,30,0,19.290000,41.400000,18.200000,41.400000,19.700000,40.663333,18.790000,...,19.000000,34.700000,19.600000,41.933333,37.790000,-0.450000,756.900000,68.500000,2.500000,-5.600000
18344,2016-05-18 02:20:00,60,0,23.290000,40.790000,21.421429,41.652857,24.777143,39.290000,23.200000,...,23.290000,40.554000,23.840000,44.200000,43.152857,8.933333,755.400000,87.000000,2.000000,6.866667
8910,2016-03-13 14:00:00,40,0,21.390000,35.066667,20.500000,34.163333,20.390000,35.950000,21.000000,...,22.066667,28.033333,24.166667,33.463333,38.590000,8.800000,769.200000,59.000000,6.000000,1.200000
4365,2016-02-11 00:30:00,30,0,21.100000,43.326667,20.600000,41.260000,20.823333,42.200000,20.100000,...,20.200000,40.308333,23.005556,48.015000,43.200000,3.550000,747.500000,97.500000,3.000000,3.150000
7659,2016-03-04 21:30:00,100,0,21.571429,37.090000,19.290000,39.038571,21.600000,36.900000,20.542857,...,18.700000,31.100000,21.890000,38.564286,36.942857,2.000000,740.150000,93.000000,2.000000,0.900000
5909,2016-02-21 17:50:00,100,20,21.550000,47.200000,20.700000,45.500000,21.566667,43.760000,22.500000,...,18.290000,44.826667,22.200000,49.433333,46.790000,11.850000,754.833333,84.000000,11.000000,9.233333
2532,2016-01-29 07:00:00,20,0,18.200000,43.090000,17.260000,44.000000,19.200000,42.200000,17.033333,...,17.200000,38.790000,17.301111,45.090000,43.030000,4.600000,764.200000,82.000000,6.000000,1.800000
18753,2016-05-20 22:30:00,60,0,23.390000,44.900000,22.000000,44.834000,24.600000,41.500000,23.390000,...,22.934000,40.112000,23.500000,48.897143,44.466667,13.350000,758.300000,85.000000,1.000000,10.850000
17595,2016-05-12 21:30:00,80,10,25.500000,48.863333,24.528571,48.398571,26.200000,45.090000,25.390000,...,24.963333,44.400000,27.066667,51.193333,48.460000,17.400000,744.800000,75.000000,1.000000,12.900000
12218,2016-04-05 13:20:00,360,10,22.100000,42.266667,21.066667,42.826667,23.566667,38.693333,21.133333,...,21.426667,37.290000,23.390000,40.560000,42.230000,11.400000,750.933333,76.333333,3.000000,7.366667
11222,2016-03-29 15:20:00,110,0,22.290000,39.126667,21.200000,39.260000,22.790000,37.790000,21.200000,...,21.533333,32.700000,24.522222,41.950000,41.290000,10.533333,751.400000,64.000000,5.333333,3.900000
14568,2016-04-21 21:00:00,70,10,22.890000,37.126667,22.066667,35.663333,23.000000,36.326667,22.875714,...,22.200000,32.900000,22.890000,39.500000,34.433333,14.100000,759.600000,60.000000,3.000000,6.300000
13908,2016-04-17 07:00:00,70,0,21.200000,39.363333,17.790000,44.290000,23.390000,38.090000,20.790000,...,20.790000,32.736000,22.600000,38.400000,45.290000,1.800000,752.500000,97.000000,1.000000,1.400000
6623,2016-02-26 16:50:00,50,0,20.600000,35.500000,19.200000,35.400000,20.890000,36.030000,19.700000,...,18.600000,27.984286,19.600000,35.260000,36.530000,5.350000,751.966667,66.666667,2.833333,-0.500000
16077,2016-05-02 08:30:00,40,0,21.290000,37.060000,21.666667,36.556667,22.600000,34.530000,21.356667,...,19.390000,29.700000,22.000000,39.295000,37.900000,6.800000,764.450000,78.000000,1.000000,3.100000
16618,2016-05-06 02:40:00,40,0,23.200000,35.790000,21.066667,37.290000,23.890000,37.030000,22.700000,...,22.585714,36.985714,23.100000,44.897500,40.200000,9.133333,756.733333,78.666667,2.666667,5.666667
9571,2016-03-18 04:10:00,40,0,21.790000,35.090000,18.290000,39.590000,21.533333,35.790000,21.500000,...,20.500000,28.230000,22.390000,40.590000,38.230000,0.666667,763.250000,93.500000,1.000000,-0.266667
2566,2016-01-29 12:40:00,40,0,17.890000,44.000000,17.166667,44.500000,19.000000,42.090000,16.790000,...,17.011111,39.590000,17.100000,46.200000,43.790000,7.800000,763.700000,81.666667,9.666667,4.833333
11656,2016-04-01 15:40:00,50,0,22.323333,38.290000,22.166667,36.826667,22.390000,37.863333,21.100000,...,21.100000,32.200000,22.700000,39.400000,40.790000,10.966667,760.433333,56.333333,3.666667,2.466667
1807,2016-01-24 06:10:00,30,0,17.790000,42.863333,17.100000,42.500000,18.463333,43.590000,15.690000,...,15.620000,39.922222,18.384444,53.393889,48.466667,6.666667,767.783333,88.000000,6.166667,4.750000
2306,2016-01-27 17:20:00,40,0,19.566667,46.090000,18.700000,46.030000,19.890000,45.290000,18.390000,...,17.700000,44.838889,17.700000,50.790000,48.700000,10.600000,755.033333,84.000000,9.000000,7.933333
19272,2016-05-24 13:00:00,110,0,24.100000,41.200000,23.356667,40.500000,25.200000,39.200000,23.700000,...,23.200000,35.200000,24.637500,41.812500,39.400000,12.800000,759.200000,69.000000,4.000000,7.100000
12409,2016-04-06 21:10:00,30,0,21.963333,42.456667,19.600000,43.626667,22.790000,39.466667,21.500000,...,20.890000,35.090000,23.290000,36.473333,37.656667,8.550000,751.600000,72.000000,7.833333,3.666667
4937,2016-02-14 23:50:00,60,10,20.700000,41.090000,19.000000,41.290000,20.200000,41.590000,19.260000,...,19.500000,36.796111,22.265000,42.560000,40.930000,2.566667,746.750000,92.166667,4.833333,1.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5261,2016-02-17 05:50:00,60,0,20.390000,35.400000,17.823333,37.090000,20.500000,38.560000,18.790000,...,18.890000,29.760000,21.200000,41.290000,39.790000,-3.333333,764.866667,87.666667,2.000000,-5.166667
2026,2016-01-25 18:40:00,50,0,20.633333,43.126667,19.600000,43.260000,20.500000,44.500000,18.166667,...,18.790000,39.215000,19.700000,46.145000,48.863333,9.900000,762.500000,74.333333,4.333333,5.533333
484,2016-01-15 01:40:00,60,0,23.700000,39.090000,22.700000,39.090000,21.200000,43.363333,18.500000,...,18.500000,42.230000,19.500000,49.400000,47.060000,0.266667,749.333333,99.333333,10.000000,0.133333
16400,2016-05-04 14:20:00,70,0,23.290000,34.363333,24.323333,29.760000,23.166667,33.863333,23.290000,...,22.000000,29.361429,23.890000,35.526667,36.960000,15.400000,766.100000,35.666667,3.000000,0.300000
44,2016-01-12 00:20:00,40,20,21.290000,44.966667,20.633333,44.000000,20.166667,45.500000,20.500000,...,17.760000,44.333333,19.390000,51.560000,45.863333,5.233333,737.100000,92.000000,6.000000,4.033333
8851,2016-03-13 04:10:00,40,0,20.600000,35.290000,17.100000,39.790000,20.290000,37.000000,19.500000,...,20.700000,33.590000,22.700000,39.290000,40.090000,-0.733333,768.233333,92.166667,1.833333,-1.816667
8895,2016-03-13 11:30:00,60,0,20.290000,36.900000,20.790000,34.790000,20.100000,36.290000,20.890000,...,20.390000,30.230000,22.760000,37.026667,39.096667,5.500000,769.650000,67.000000,6.500000,-0.150000
12765,2016-04-09 08:30:00,320,0,20.890000,41.900000,18.463333,45.800000,22.566667,38.490000,20.100000,...,21.212857,38.380000,22.472500,42.375000,42.500000,6.100000,750.700000,84.000000,2.500000,3.500000
9056,2016-03-14 14:20:00,240,10,21.926667,35.633333,20.600000,34.933333,23.166667,39.193333,21.000000,...,22.356667,26.230000,22.133333,31.133333,38.000000,5.933333,767.666667,60.333333,6.333333,-1.233333
11359,2016-03-30 14:10:00,80,20,21.700000,41.230000,21.100000,40.400000,22.600000,38.760000,21.390000,...,20.945000,33.700000,24.290000,40.766667,39.567500,10.683333,753.433333,64.333333,5.500000,4.083333
14831,2016-04-23 16:50:00,60,0,23.000000,35.530000,21.390000,34.066667,23.890000,33.590000,22.500000,...,22.171429,26.792857,23.890000,34.026667,38.400000,8.833333,757.300000,51.333333,7.666667,-0.700000
2436,2016-01-28 15:00:00,50,0,19.290000,45.290000,18.500000,44.933333,19.790000,44.400000,18.200000,...,18.457222,40.200000,18.420556,46.290000,46.500000,7.200000,765.100000,70.000000,2.000000,2.000000
7107,2016-03-01 01:30:00,60,10,21.390000,35.830000,18.790000,37.530000,21.000000,35.230000,21.390000,...,20.033333,28.200000,22.066667,40.230000,38.760000,-2.100000,763.150000,96.000000,1.000000,-2.650000
8795,2016-03-12 18:50:00,390,10,20.600000,32.966667,19.066667,33.200000,20.000000,33.400000,20.200000,...,21.856667,25.700000,24.963333,34.090000,39.200000,7.150000,767.033333,65.500000,3.000000,1.083333
9138,2016-03-15 04:00:00,40,0,21.200000,35.500000,17.390000,40.663333,21.600000,35.266667,20.100000,...,20.700000,27.600000,22.000000,39.363333,38.530000,-0.500000,766.000000,86.000000,1.000000,-2.600000
15986,2016-05-01 17:20:00,240,0,22.390000,36.760000,21.600000,32.530000,22.600000,34.826667,21.390000,...,19.463333,27.066667,23.000000,36.630000,37.200000,13.766667,765.433333,39.333333,4.000000,0.166667
16342,2016-05-04 04:40:00,40,0,22.000000,35.790000,19.000000,38.290000,23.200000,37.200000,22.000000,...,21.390000,35.290000,23.100000,42.000000,40.158750,2.300000,766.633333,92.666667,1.000000,1.166667
18981,2016-05-22 12:30:00,110,0,24.426667,52.863333,23.463333,53.200000,27.963333,46.496667,23.790000,...,23.500000,47.290000,25.114286,54.485714,51.400000,15.900000,750.600000,91.000000,4.000000,14.500000
17350,2016-05-11 04:40:00,50,0,24.600000,47.290000,22.790000,49.790000,26.700000,43.400000,24.890000,...,24.528571,42.900000,26.000000,51.790000,47.121429,14.700000,748.533333,96.000000,2.666667,14.000000
10524,2016-03-24 19:00:00,90,10,21.463333,46.400000,19.730000,43.500000,21.890000,38.133333,20.500000,...,20.000000,35.025000,22.500000,40.126667,37.200000,8.100000,756.300000,78.000000,4.000000,4.500000
17134,2016-05-09 16:40:00,100,20,25.390000,38.933333,26.500000,34.700000,26.500000,37.718000,25.463333,...,24.200000,36.900000,24.000000,41.621429,40.980000,23.200000,752.433333,45.333333,3.000000,10.566667
5754,2016-02-20 16:00:00,80,10,22.200000,40.290000,21.290000,40.163333,22.200000,39.900000,18.100000,...,17.790000,40.230000,21.100000,46.766667,44.290000,9.600000,754.300000,90.000000,7.000000,8.100000
10992,2016-03-28 01:00:00,50,0,21.790000,38.290000,19.200000,41.500000,23.000000,38.326667,20.200000,...,21.390000,37.766667,23.600000,41.300000,41.900000,8.600000,747.600000,74.000000,8.000000,4.200000
9411,2016-03-17 01:30:00,40,0,21.760000,36.090000,18.533333,38.260000,22.600000,35.933333,20.790000,...,20.000000,27.426667,22.790000,39.600000,38.663333,1.400000,765.950000,80.000000,4.000000,-1.700000
8408,2016-03-10 02:20:00,40,0,20.290000,37.000000,17.463333,40.060000,20.133333,37.090000,21.230000,...,18.290000,35.466667,20.290000,44.290000,38.290000,1.400000,752.400000,83.666667,1.000000,-1.066667
4332,2016-02-10 19:00:00,100,0,20.666667,52.733333,20.290000,43.166667,20.890000,41.656667,19.100000,...,20.100000,38.585556,23.050000,46.764444,42.090000,4.600000,745.300000,95.000000,3.000000,3.800000
13589,2016-04-15 01:50:00,50,0,22.290000,42.000000,20.133333,44.760000,23.600000,40.000000,22.356667,...,21.200000,37.090000,23.390000,48.725714,44.700000,9.333333,749.966667,98.666667,1.833333,9.083333
4692,2016-02-13 07:00:00,50,0,20.290000,38.290000,18.260000,39.663333,21.000000,40.163333,18.700000,...,19.100000,34.657222,22.000000,45.290000,43.090000,1.700000,738.700000,87.000000,2.000000,-0.300000
15261,2016-04-26 16:30:00,90,0,20.890000,36.966667,19.500000,37.590000,21.700000,35.000000,20.600000,...,20.290000,30.500000,21.500000,37.790000,35.000000,5.150000,748.500000,74.500000,5.000000,0.900000
3051,2016-02-01 21:30:00,80,20,23.700000,45.290000,22.700000,43.826667,23.600000,44.700000,21.000000,...,18.795556,44.999444,21.066667,54.163333,49.400000,10.300000,759.800000,91.500000,9.000000,8.900000

In [15]:
output = df["Appliances"]
input = df.iloc[:, 2:]
test_input = df.iloc[:1000, 2:]

In [16]:
output.shape

(19735,)

In [21]:
lin_predictions = linreg_predict(input, output, test_input)
poly_predictions = polyreg_predict(input, output, test_input, 3)

Get linear regression prediction

TypeError: __init__() got an unexpected keyword argument 'dual'

In [18]:
mean_squared_error(df.loc[:999, "Appliances"], poly_predictions)

NameError: name 'poly_predictions' is not defined

In [19]:
mean_squared_error(df.loc[:999, "Appliances"], lin_predictions)

NameError: name 'lin_predictions' is not defined